body {
  background: #f6f6f6;
}

input,
button,
select {
  outline: none;
}

input:focus {
  outline: none !important;
  border-color: #fff !important;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  background: #f6f6f6;
}

.flex-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  background: #bb3532;
}

.news-header {
  padding: 20px;
  background: #bb3532;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    bottom: -600px;
    left: 0;
    background: #807d7d;
    width: 350px;
    height: 600px;
    border-radius: 0 0 50px 0;
  }
}

.logo {
  display: block;
  max-height: 50px;

  img {
    height: 100%;
    width: auto;
  }
}

input[type="search"] {
  color: #fff;
  border: 0;
  background: none;
  border-bottom: 1px solid #fff;
  height: 30px;

  &::placeholder {
    color: #fff;
  }
}

.sort-wrap {
  position: absolute;
  bottom: -72px;
  right: 0;
  background: #807d7d;
  width: 40%;
  height: 72px;
  border-radius: 0 0 0 50px;
}

.sort-category {
  display: flex;
  align-items: center;
  margin-right: 15px;
  color: #fff;
}

.sort-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0 30px;

  li {
    display: flex;
    justify-content: space-between;
  }

  select {
    width: 150px;
  }

  .selectric {
    width: 200px;
  }
}

.main-heading {
  font-size: 40px;
  padding: 15px 0;
}

.news-container {
  height: 300px;
  position: relative;
}

.page {
  display: flex;
  justify-content: space-between;
}

.news-card {
  background: rgb(71, 72, 73);
  padding: 25px;
  display: block;
  text-decoration: none;
  width: 48%;

  .date {
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 15px;
  }

  .title {
    font-size: 20px;
    color: #fff;
  }

  .description {
    color: rgb(206, 206, 206);
  }
}

.main-content {
  width: 100%;
  margin-top: 100px;
}

.page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #f6f6f6;
  z-index: 0;

  &-active {
    z-index: 2;
  }
}

.pagination {
  width: 40%;
  position: absolute;
  bottom: -50px;
  left: 50%;
  display: flex;
  justify-content: center;
  transform: translateX(-50%);
  z-index: 5;

  .dot {
    display: block;
    width: 40px;
    height: 40px;
    margin: 5px;
    display: none;
    cursor: pointer;

    &-active {
      color: rgb(255, 0, 0);
    }

    &-visible {
      display: flex;
      align-items: center;
    }
  }

  .dots {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 5px;
  }

  .dots-visible {
    display: none;
  }
}

i {
  border: solid rgb(255, 0, 0);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow {
  position: absolute;
  top: 50%;
}

.right {
  right: 0;
  transform: rotate(-45deg) translateY(-50%);;
}

.left {
  left: 0;
  transform: rotate(135deg) translateY(50%);
}
